@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: beige;
}

header {
    text-align: center;
    word-spacing: 10px;
    font-style: italic;
    font-family: roboto, sans-serif;
    font-size: 1rem;
}

/* add color to headings */

h1, h2 {
    color: #ff0000;
}

/* add style to playarea */

.score {
  text-align: center;
  color: #000;
  border-radius: 4px;
  text-align: center;
}
.points {
    border: 2px solid red;
    display: inline-block;
    text-align: center;
    width: 30%;
}
.player{
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-left: 40px;
}
.computer {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-left: 40px;
}

/* Styles the icons which act as buttons for each game choice*/
.choices {
    text-align: center;
    margin: 5% 0;
    color: #000000;
}
.choice {
    display: inline-block;
    font-size: 50px;
    border: 2px solid;
    margin: 0 20px;
    border-radius: 50%;
    padding: 20px;
}

/* add hover to icons */
#rock:hover, #paper:hover, #scissors:hover {
  background-color: #ff7f50;
  cursor: pointer;
}

/* create classes to shadow to the icons border to know what the result was */

.win {
    border: 5px solid #008000;
    box-shadow: 3px 3px 10px #3e3e3e;
  }
  
  .lose {
    border: 5px solid #ff0000;
    box-shadow: 3px 3px 10px #3e3e3e;
  }
  
  .tie {
    border: 5px solid #464647;
    box-shadow: 3px 3px 10px #3e3e3e;
  }
#reset {
  display: inline-block;
  color: #000000;
  text-align: center;
  width: 20%;
  margin: 4px;
  background-color: #fff00f;
}
/* add style to footer */
 
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 30px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
    background-color: #fff00f;
}
/*add media queri */

@media screen and (max-width: 314px){

  header {
    font-size: .7rem
}
     
    footer {
        position: absolute;
        box-sizing: border-box;
        text-align: center;
        color: #000;
        background-color: #fff00f;
 }

 .choice {
    text-align: center;
    color: #000;
    font-size: small;
    
}
.computer {
    display: inline-block;
    font-size: small;
}

.score-area {
    text-align: center;
    font-size: small;
}
.points {
    border: solid 2px;
    display: inline-block;
    font-size: .7rem;
}
.player{
    display: inline-block;
    font-size: small;
}

.choices {
    width: 100% ;
    text-align: center;
    color: #000000;
    
}

}

@media screen and (max-width: 345px) {

  header {
    font-size: 0.5rem;
}
  .computer {
    display: inline-block;
    font-size: 0.5rem;
    margin-left: 2%;
} 
.player{
  display: inline-block;
  font-size: 0.5rem;
}
.points {
  border: solid 2px;
  display: inline-block;
  font-size: 0.7rem;
}
}

@media screen and (max-width: 420px) {

header {
  font-size: 0.5;

}
.score-area {
  font-size: 1rem;
}
.player {
  font-size: 1rem;
  
}

.computer {
  font-size: 1rem;
  
}
.choice {
  font-size: 1rem;
}

}