@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Tiro Telugu', serif;
    margin: 0;
    background-color: beige;
}

header {
    text-align: center;
    height: 50px;
    word-spacing: 10px;
    font-style: italic;
    font-size: 1rem;
    padding: 10px;
}
/* add color to headings */

h1, h2 {
    color: coral;
}

.score {
  text-align: center;
  color: #000;
  border-radius: 4px;
  text-align: center;
}
.points {
    border: 2px solid red;
    display: inline-block;
    text-align: center;
    width: 30%;
}
.player{
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-left: 40px;
}
.computer {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-left: 40px;
}

/* Styles the icons which act as buttons for each game choice*/
.choices {
    width: 100%;
    text-align: center;
    margin: 5% 0;
    padding-bottom: 5%;
    color: #fff00f;
}
.choice {
    display: inline-block;
    font-size: 50px;
    border: 3px solid red;
    margin: 0 20px;
    padding: 20px;
    border-radius: 50%;
}

#rock:hover, #paper:hover, #scissors:hover {
  background-color: #a6a6a6;
  cursor: pointer;
}

#reset {
  display: inline-block;
  color: #000000;
  text-align: center;
  width: 20%;
  margin: 4px;
  background-color: #fff00f;
}
/* add style to footer */
 
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 30px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
    background-color: #fff00f;
}
/*add media queri */

@media screen and (max-width: 345px){

    footer {
        position: absolute;
        box-sizing: border-box;
        text-align: center;
        color: #000;
        background-color: #fff00f;
 }

 .choice {
    font-size: 3rem;
    text-align: center;
    color: #fff00f;
    
}
.computer {
    display: inline-block;
    font-size: medium;
}

.score-area {
    text-align: center;
    font-size: medium;
}
.points {
    border: solid 2px;
    display: inline-block;
}
.player{
    display: inline-block;
    font-size: medium;
}

.choices {
    width: 100% ;
    text-align: center;
    margin: 3px 0;
    color: #fff00f;
    
}

}
