@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'roboto', sans-serif;
    margin: 0;

}

header {
    text-align: center;
    height: 50px;
    word-spacing: 10px;
    font-style: italic;
    
}
/* add color to headings */

h1, h2 {
    color: coral;
    
}

.score-area {
    text-align: center;
    font-size: 20px;
}
.points {
    border: solid 2px;
    display: inline-block;
    width: 30%;
}
.player{
    display: inline-block ;
    font-size: 30px;
    margin-right: 20px;
    width: 20%;
}
.computer {
    display: inline-block; 
    font-size: 30px;
    margin-left: 20px;
    width: 20%;
}

/* Styles the icons which act as buttons for each game choice*/
.choices {
    width: 100% ;
    text-align: center;
    margin: 5% 0;
    padding-bottom: 5%;
    color: #fff00f;
    
}
.choice {
    display: inline-block;
    font-size: 5.5rem;
    border-radius: 50%;
    border: solid red;
    margin: 0 20px;
    padding: 20px;
}

#rock:hover, #paper:hover, #scissors:hover {
  background-color: #a6a6a6;
  cursor: pointer;
}

#reset-button {
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5vh 0.5vw;
  margin: .2rem;
  background-color: darkgrey;
}
/* add style to footer */
 
footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 30px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
    background-color: #fff00f;
}
/*add media queri */

@media screen and (max-width: 345px){

    footer {
        position: relative;
        box-sizing: border-box;
        text-align: center;
        color: #000;
        background-color: #fff00f;
 }

 .choices {
    width: 100% ;
    text-align: center;
    color: #fff00f;
    
}
.computer {
    display: inline-block;
    font-size: medium;

}

.score-area {
    text-align: center;
    font-size: medium;

}
.points {
    border: solid 2px;
    display: inline-block;
}

.player{
    display: inline-block;
    font-size: medium;
    width: 20%;
}

}
